# 1. Ignora absolutamente tudo por padrão
*

# 2. Abre exceção para as pastas (para o Git conseguir navegar e olhar dentro delas)
!*/

# 3. Volta a ignorar as pastas que não queremos (como o cache do Python)
__pycache__/

# 4. Abre exceção para os arquivos que você realmente quer versionar
!.gitignore
!*.py